button{
    color: #fff;
    background-color: #00000000;
    border: 0.2em solid;
    padding: 10px;
    border-radius: 1em;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: #00000000;
    color: #cfffbc;
}